<div class="view-header">

	<div class="dropdown right-side">
		<button class="btn btn-transparent dropdown-toggle" type="button">
			<i class="icon icon-settings"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li class="btn-toggle-disabled"><%= t('shared.toggledisabled') %></li>
			<li class="btn-add-exercise"><%= t('create.addexercise') %></li>
		</ul>
	</div>

	<h2><%= title %></h2>
	<em><%= wotitle %></em>
</div>

<div class="exercise-list">
</div>
<div class="card">
	<button class="btn btn-light btn-full-width btn-add-exercise">+</button>
	<div class="wizard-buttons">
		<button class="btn btn-primary btn-save"><%= t('shared.save') %></button>
	    <button class="btn btn-default btn-back"><%= t('shared.back') %></button>
	</div>
</div>