<div class="select-edit-toggle muscle-select">
	<label><%= t('workout.musclegroup') %></label>
	<div class="select-edit-list sidebyside">
		<div>
			<select class="form-control" name="muscleid">
					<option value=""><%= t('workout.musclegroup') %></option>
				<% parent.muscles.forEach(function(muscle){ %>
					<option value="<%= muscle.get('id') %>"><%= muscle.get('name') %></option>
				<%});%>
			</select>
		</div>
		<div>
			<button class="btn btn-default muscle-select-toggle icon icon-pen"></button>
		</div>
	</div>
	<div class="select-edit-input sidebyside">
		<div>
			<input type="text" name="muscle" placeholder="Muscle" class="form-control">
		</div>
		<div>
			<button class="btn btn-default muscle-select-toggle icon icon-list"></button>
		</div>
	</div>
</div>
<div class="movement-select">
</div>
<div>
	<label><%= t('workouttype.type') %></label>
	<select name="type" class="form-control">
		<option value="weightrep"><%= t('workouttype.weightrep') %></option>
		<option value="weight"><%= t('workouttype.weightrep') %></option>
		<option value="reps"><%= t('workouttype.reps') %></option>
		<option value="distance"><%= t('workouttype.distance') %></option>
		<option value="time"><%= t('workouttype.time') %></option>
		<option value="beats"><%= t('workouttype.beats') %></option>
	</select>
</div>
<div>
	<label><%= t('workout.setsandpause') %></label>
	<div class="split-td">
		<div class="split-td-inner">
			<div class="input-group">
			  <span class="input-group-addon"><i class="icon icon-reload"></i></span>
			  <input type="number" name="sets" placeholder="Sets" class="form-control">
			</div>
		</div>
		<div class="split-td-inner">
			<div class="input-group">
			  <span class="input-group-addon"><i class="icon icon-stopwatch"></i></span>
			  <input type="number" name="pause" placeholder="Seconds of rest" class="form-control">
			  <span class="input-group-addon"><%= t('shared.sek') %></span>
			</div>
		</div>
	</div>
</div>
<div>
	<label><%= t('shared.enabled') %></label>
	<label class="checkbox-label">
		<input type="checkbox" name="enabled">
		<i class="icon icon-check"></i>
	</label>
</div>