<div class="view-header">
	<div class="dropdown right-side">
		<button class="btn btn-transparent dropdown-toggle" type="button">
			<i class="icon icon-settings"></i>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li class="btn-toggle-disabled"><%= t('shared.toggledisabled') %></li>
			<li class="btn-add-session"><%= t('create.addsession') %></li>
		</ul>
	</div>

	<h1><%= title %></h1>
</div>

<div class="form-group card">
	<label><%= t('shared.description') %></label>
	<textarea class="form-control" name="sessiondesc"></textarea>
</div>

<div class="sessions-list">
</div>

<div class="wizard-buttons card">
	<button class="btn btn-light btn-full-width btn-add-session">+</button>

	<div>
		<button class="btn btn-primary btn-save"><%= t('shared.save') %></button>
	    <button class="btn btn-default btn-back"><%= t('shared.close') %></button>
	</div>
</div>