<div class="form-group">
    <label><%= t('create.sessionname') %></label>
    <input type="text" class="form-control" name="sessionName" placeholder="<%= t('shared.name') %>">
</div>

<div class="form-group">
    <label><%= t('shared.description') %></label>
    <textarea class="form-control" name="description"></textarea>
</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><i class="icon icon-clock"></i></span>
        <input type="number" name="estTime" placeholder="<%= t('create.estmin') %>" class="form-control">
        <span class="input-group-addon"><%= t('shared.min') %></span>
    </div>
</div>
<div class="form-group clearfix">
    <button class="btn btn-default pull-right btn-exercises"><%= t('create.exercises') %></button>
    <label><%= t('shared.enabled') %></label>
    <label class="checkbox-label">
        <input type="checkbox" name="enabled">
        <i class="icon icon-check"></i>
    </label>
</div>