<div class="form-group">
	<label>Session name</label>
	<input type="text" class="form-control" name="sessionName" placeholder="Name">
</div>

<div class="form-group">
	<label>Description</label>
	<textarea class="form-control" name="description"></textarea>
</div>
<div class="form-group">
	<div class="input-group">
		<span class="input-group-addon"><i class="icon icon-clock"></i></span>
		<input type="number" name="estTime" placeholder="Estimated time in minutes" class="form-control">
		<span class="input-group-addon">min</span>
	</div>
</div>
<div class="form-group clearfix">
	<button class="btn btn-default pull-right btn-exercises">Exercises</button>
	<label>Enabled</label>
	<label class="checkbox-label">
		<input type="checkbox" name="enabled">
		<i class="icon icon-check"></i>
	</label>
</div>