<div>
    <a class="nav-home active" href="#/">
    	<i class="icon icon-home"></i>
    </a><!--
    --><a class="nav-workout" href="#/workout">
    	<i class="icon icon-check"></i>
    </a><!--
    --><a class="nav-plan" href="#/plan">
    	<i class="icon icon-calendar"></i>
    </a><!--
    --><a class="nav-measurements" href="#/measurements">
    	<i class="icon icon-measure"></i>
    </a><!--
    --><a class="nav-settings" href="#/about">
    	<i class="icon icon-settings"></i>
    </a>
</div>
