<div class="view-header">
	<h2><%= t('workout.freerun') %></h2>
</div>
<div class="exercise-list">
</div>

<div class="card">
	<button class="btn btn-light btn-full-width btn-add-exercise">+</button>

	<label><%= t('shared.comment') %></label>
	<textarea name="comment" class="form-control"></textarea>

	<div class="container-padding">
		<button class="btn btn-primary btn-save"><%= t('shared.complete') %></button>
		<a class="btn btn-link" href="#/workout/"><%= t('shared.close') %></a>
	</div>
</div>

<div class="welldone-box">
	<i class="icon icon-check"></i>
	<h1><%= t('workout.goodjob') %></h1>
	<h2><%= t('workout.youlifted') %> <span class="weight-lifted"></span></h2>
</div>