<div class="view-header">
	<h2>Free-run</h2>
</div>
<div class="exercise-list">
</div>

<div class="card">
	<button class="btn btn-light btn-full-width btn-add-exercise">+</button>

	<label>Comment</label>
	<textarea name="comment" class="form-control"></textarea>

	<div class="container-padding">
		<button class="btn btn-primary btn-save">Complete</button>
		<a class="btn btn-link" href="#/workout/">Close</a>
	</div>
</div>

<div class="welldone-box">
	<i class="icon icon-check"></i>
	<h1>Good job!</h1>
	<h2>You lifted <span class="weight-lifted"></span></h2>
</div>