<div class="view-header">
	<h2><%= name %></h2>
	<% if(description) { %>
	<p class="description">
		<i class="icon icon-pen"></i>
		<%= description %>
	</p>
	<% } %>
</div>
<div class="exercise-list">
</div>

<div class="card">
	<label><%= t('shared.comment') %></label>
	<textarea name="comment" class="form-control"></textarea>

	<div class="container-padding">
		<button class="btn btn-primary btn-save"><%= t('shared.complete') %></button>
		<a class="btn btn-link" href="#/workout/"><%= t('shared.close') %></a>
	</div>
</div>

<div class="welldone-box">
	<i class="icon icon-check"></i>
	<h1><%= t('workout.goodjob') %></h1>
	<h2><%= t('workout.youlifted') %> <span class="weight-lifted"></span></h2>
</div>