<ul>
    <li><a href="#/" class="nav-home active">
    	<i class="icon icon-home"></i>
    	Home
    </a></li>
    <li><a href="#/workout/" class="nav-workout">
    	<i class="icon icon-check"></i>
    	Workout
    </a></li>
    <li><a href="#/plan/" class="nav-plan">
    	<i class="icon icon-calendar"></i>
    	Plan
    </a></li>
    <li><a href="#/measurements/" class="nav-measurements">
    	<i class="icon icon-measure"></i>
    	Measurements
    </a></li>
    <li><a href="#/settings/" class="nav-settings">
    	<i class="icon icon-settings"></i>
    	Settings
    </a></li>
    <li><a href="#/about/" class="nav-about">
    	<i class="icon icon-label"></i>
    	About
    </a></li>
</ul>
