<h4><%= t('workout.set') %> <%=index%></h4>
<div class="form-group type-reps">
	<label><%= t('workouttype.reps') %></label><input type="number" value="" class="form-control input-reps" placeholder="<%= lastReps %>">
	<button class="btn btn-default add-reps"><i class="icon icon-plus"></i></button>
	<button class="btn btn-default subtract-reps"><i class="icon icon-minus"></i></button>
</div>
<div class="form-group type-weight">
	<label><%= t('workouttype.weight') %> (<%= units.weight %>)</label><input type="number" value="" class="form-control input-weight" placeholder="<%= lastWeight %>">
	<button class="btn btn-default add-weight"><i class="icon icon-plus"></i></button>
	<button class="btn btn-default subtract-weight"><i class="icon icon-minus"></i></button>
</div>
<div class="form-group type-beats">
	<label><%= t('workouttype.beats') %> (<%= units.beats %>)</label><input type="number" value="" class="form-control input-beats" placeholder="<%= lastBeat %>">
</div>
<div class="form-group type-distance">
	<label><%= t('workouttype.distance') %> (<%= units.farLength %>)</label><input type="number" value="" class="form-control input-distance" placeholder="<%= lastDistance %>">
</div>
<div class="form-group type-time">
	<label><%= t('workouttype.time') %> (<%= units.time %>)</label><input type="number" value="" class="form-control input-time" placeholder="<%= lastTime %>">
</div>
<div class="form-group">
	<% if(pause && pause > 0){ %>
	<button class="btn btn-default btn-timer pull-right">
		<i class="icon icon-stopwatch"></i>
		<span class="timer"></span>
	</button>
	<% } %>
	<button class="btn btn-default btn-comment"><%= t('shared.comment') %></button>
</div>
<div class="comment-box-modal">
	<label><%= t('shared.comment') %></label>
	<textarea class="input-comment form-control"></textarea>
</div>