<div class="view-header">
	<h2>Add part</h2>
</div>

<div class="card">
	<div class="form-group">
		<label>Name</label>
		<input type="text" name="name" class="form-control">
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea name="description" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label>Unit type</label>
		<select name="unittype" class="form-control">
			<option value="weight">Weight</option>
			<option value="percent">Percent</option>
			<option value="shortLength">Short length</option>
			<option value="longLength">Long length</option>
		</select>
	</div>

	<div class="clearfix">
		<button class="btn btn-primary btn-save"><i class="icon icon-plus"></i> Add</button><a href="#/measurements/" class="btn btn-link">Cancel</a>
	</div>
</div>