<div class="view-header">
	<h1><%= t('measure.title') %></h1>

	<div class="clearfix">
		<a href="#/measurements/add" class="btn btn-default pull-right"><i class="icon icon-plus"></i> <%= t('measure.measure') %></a>
		<a href="#/measurements/addpart" class="btn btn-default pull-right"><i class="icon icon-plus"></i> <%= t('measure.addpart') %></a> 
	</div>
</div>

<!-- If there are no measurements.. -->
<% if(noData){ %>
<div class="card">
	<p><%= t('measure.nomeasure') %></p>

	<div class="clearfix">
		<a href="#/measurements/add" class="btn btn-primary pull-right"><i class="icon icon-plus"></i> <%= t('measure.measure') %></a>
	</div>
</div>
<%} else {%>
<div class="measurement-items">
</div>
<%}%>