<div class="form-group">
	<label><%= t('gender.gender') %></label>
	<select name="gender" class="form-control" required="required">
		<option value=""><%= t('shared.select') %></option>
		<option value="1"><%= t('gender.male') %></option>
		<option value="2"><%= t('gender.female') %></option>
	</select>
</div>
<div class="form-group">
	<label><%= t('settings.age') %></label>
	<div class="input-group">
		<input name="age" class="form-control" type="number">
		<span class="input-group-addon"><%= t('settings.years') %></span>
	</div>
</div>
<div class="form-group">
	<label><%= t('settings.goal') %></label>
	<select name="goaltype" class="form-control" required="required">
		<option value=""><%= t('shared.select') %></option>
		<option value="1"><%= t('settings.buildmuscle') %></option>
		<option value="2"><%= t('settings.looseweight') %></option>
		<option value="3"><%= t('settings.gethealthy') %></option>
	</select>
</div>

<div class="form-group tut-weight-goal">
	<label><%= t('settings.weightgoal') %></label>
	<div class="input-group">
		<input name="goal" class="form-control" type="number">
		<span class="input-group-addon">kg/lbs</span>
	</div>
</div>
<div class="form-group">
	<label><%= t('settings.unit') %></label>
	<select name="units" class="form-control">
		<option value="metric" <%if(units ==='metric'){%>selected<%}%>>Metric</option>
		<option value="imperial"<%if(units ==='imperial'){%>selected<%}%>>Imperial</option>
	</select>
</div>
<div class="form-group">
	<label><%= t('settings.appcolor') %></label>
	<select name="colorpalette" class="form-control" required="required">
		<option value="blue"><%= t('settings.blue') %></option>
		<option value="red"><%= t('settings.red') %></option>
		<option value="orange"><%= t('settings.orange') %></option>
		<option value="pantone"><%= t('settings.pantone') %></option>
	</select>
</div>
<div class="form-group">
  <label><%= t('settings.language') %></label>
  <select name="language" class="form-control" required="required">
    <% _.each(languages, function(value, key){ %>
      <option value="<%= key %>"><%= value %></option>
    <% }) %>
  </select>
</div>